<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>7Bao-backend</display-name>

  <!-- JBoss webAppRootKey 设置 -->
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>com.wzitech.Z7Bao.backend.root</param-value>
  </context-param>

  <!-- Spring ApplicationContext配置文件的路径,可使用通配符,多个路径用,号分隔 此参数用于后面的Context Loader -->
  <context-param>
    <description>Spring Configuration File</description>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:/META-INF/gold-facade-backend-context.xml
    </param-value>
  </context-param>


  <!-- 設定Spring Context的默认Profile -->
  <context-param>
    <param-name>spring.profiles.default</param-name>
    <param-value>development</param-value>
  </context-param>

  <!--Spring ApplicationContext 载入 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>

</web-app>
